{% extends 'layout.html' %}

{% block title %} {{ title|capitalize }} {% endblock %}

{% block extra_head%}
	<!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->
	<!--<script type="text/javascript" src="javascripts/realtimeCarga.js"></script>-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/dashboard.css">
	<style id="holderjs-style" type="text/css"></style>

{% endblock %}

{% block content %}
	
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="#">Telebingo RT</a> -->
			<a class="navbar-brand" href="#"><img src="../../images/telebingo.png" alt="logo telebingo" width="100" height="40" />Telebingo app</a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{ operador }}</a></li>
				<li><a href="/admin">Sorteo</a></li>
				<li><a href="/admin/autoridad">Autoridad</a></li>
				<li><a href="/admin/fondo">Fondo</a></li>
				<li><a href="/carga">Carga</a></li>
			</ul>
			<!-- <form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form> -->
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li id="li-sorteo"><a href="/admin">Sorteos</a></li>
				<li id="li-autoridad"><a href="/admin/autoridad">Autoridad</a></li>
				<li id="li-fondo"><a href="/admin/fondo">Fondo</a></li>
				<li id="li-asignar-premios"><a href="/admin/asignar-premios">Asignar premios</a></li>
			</ul>
			<!-- <ul class="nav nav-sidebar">
				<li><a href="">Nav item</a></li>
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
				<li><a href="">More navigation</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
			</ul> -->
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<div id="e100" style="display:none" class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<strong>Error!</strong> No puede haber mas de un sorteo en estado "sorteando" al mismo tiempo.
			</div>	

			<div id="alertAdmin" style="display:none" class="alert" role="alert">
				<!-- <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
				<strong id="alertEncabezado"></strong> <span id="alertMsg"></span>
			</div>			

			<h1 class="page-header">Administraci&oacute;n</h1>

			<section id="sorteos">
				<h2 class="sub-header">Sorteos | <small><a id="l_nuevo_sorteo" href="#nuevo_sorteo"><span class="glyphicon glyphicon-plus-sign"></span></a></small></h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Descripci&oacute;n</th>
								<th>Fecha</th>
								<th>Estado</th>
								<th>Tipo</th>
								<th>Color</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for s in sorteos %}
							<tr>
								<td><a onclick="cambioEstadoSorteando('{{ s.estado }}', '{{ s.id }}');" href="#">{{ s.nro_sorteo }}</a></td>
								<td><a onclick="cambioEstadoSorteando('{{ s.estado }}', '{{ s.id }}');"
								href="#">SORTEO {{ s.nro_sorteo }}</a></td>
								<td>{{ s.fecha|date('d-m-Y') }}</td>
								<td>{{ s.estado }}</td>
								<td>{{ s.tipo_sorteo.descripcion }}</td>
								<td><img src="{{ s.fondo.path }}" alt="imagen sorteo" width="50" height="30" /></td>
								<td class="hide">
									<form action ="/admin/cambio-estado/sorteando" method="post">
										<input type="hidden" name="id" value="{{ s.id }}" />
										<button class='btn btn-danger btn-xs' type="submit" name="carga" value="true"><span class="fa fa-times"></span> Carga</button>
									</form>
								</td>
								<td><a href="/admin/asignar-premios/{{ s.id }}"><span class="glyphicon glyphicon-gift" title="Asignar premios"></span></a></td>
								<td><a href="/admin/asignar-ganadores/{{ s.id }}"><span class="glyphicon glyphicon-star-empty" title="Asignar ganadores"></span></a></td>
								<td><a href="/admin/sorteo/{{ s.id }}"><span class="glyphicon glyphicon-remove" title="Eliminar sorteo"></span></a></td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</section>



			<a name="nuevo_sorteo"></a>
			<section id="nuevo-sorteo">
				<h2 class="sub-header">Nuevo sorteo</h2>
				<form method='post' action='/admin/nuevoSorteo'>
					<div class="col-xs-6 col-md-4">
						<label for="nro_sorteo">Nro sorteo:</label>
						<input name="nro_sorteo" type="number" class="form-control" placeholder="Nro sorteo" required autofocus>
						<label for="fecha">Fecha:</label>
						<input name="fecha" type="date" class="form-control" placeholder="descripcion" required>
						<label>Tipo:</label>
						{% for tipo in tipos %}
							<div class="radio">
								<label>
								<input type="radio" name="tipoSorteo" value="{{ tipo.id }}">
									{{ tipo.nombre|capitalize }} ({{ tipo.nro_rondas }} rondas)
								</label>
							</div>
						{% endfor %}
						
						<input type="hidden" name="estado" value="iniciado">
						
					</div>
					<div class="col-xs-6 col-md-4">
						<label>Fondo:</label>
						<select name="fondo" class="form-control">
							{% for fondo in fondos %}
							<option value="{{ fondo.id }}">{{ fondo.descripcion|capitalize }}</option>
							{% endfor %}
						</select>
						<label>Fiscalizador:</label>
						<select name="fiscalizador" class="form-control">
							{% for f in fiscalizadores %}
							<option value="{{ f.id }}">{{ f.nombre|capitalize }}, {{ f.apellido|capitalize }}</option>
							{% endfor %}
						</select>
						<label>Escribano:</label>
						<select name="escribano" class="form-control">
							{% for e in escribanos %}
							<option value="{{ e.id }}">{{ e.nombre|capitalize }}, {{ e.apellido|capitalize }}</option>
							{% endfor %}
						</select>
						<div style="height: 40px"></div>
					</div>
					<div class="col-xs-12 col-md-8">
						<button name="boton" value="crear" class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
						<button name="boton" value="crearypremios" class="btn btn-primary btn-block" type="submit">Crear y asignar premios</button>
					</div>
				</form>
			</section>


			<a name="asignar_premios"></a>
			<section id="asignar-premios">
				<h2 class="sub-header">Asignar premios</h2>
					<div class="col-xs-6 col-md-4">
						<label for="nro_sorteo">Nro sorteo:</label>
						{% if sorteo %}
						<input name="nro_sorteo" type="text" class="form-control" placeholder="Nro sorteo" required disabled value="Sorteo {{ sorteo.nro_sorteo }}">
						
						{% endif %}
						
					</div>
					<div class="col-xs-6 col-md-4">
						<label>Ronda:</label>
						<select id="select-premios" name="ronda" class="form-control" onchange="onSelectRonda('{{ sorteo.id }}')">
							{% for r in Array(sorteo.tipo_sorteo.nro_rondas+1) %}
							<option value="{{ loop.index-1 }}">
							{% if loop.first %}
							&#8608;Seleccione ronda&#8606;
							{% else %}
							Ronda {{ loop.index-1 }}
							{% endif %}
							</option>
							{% endfor %}
						</select>
						<div style="height: 40px"></div>
					</div>
					<div class="col-xs-12 col-md-12" id="tabla-premios">
					<form method="post" action="/admin/post-premio" id="post-premio">
						<input type="hidden" name="sorteo" value="{{ sorteo.id }}">
						<input type="hidden" name="ronda" value="">
						<table class="table">
							<thead>
								<tr >
								<th>Premio</th>
									<th>Premio monto</th>
									<th>Premio especie</th>
									<th>Bolilla pozo acumulado</th>
									<th>Monto pozo acumulado</th>
									<th>Especie pozo acumulado</th>
									<!-- <th></th>
									<th></th> -->
								</tr>
							</thead>
							<tbody>
								
								<tr class="active">
									<td>LINEA: </td>
									<td><input name="montoLinea" type="text" class="form-control" required autofocus></td>
									<td><input name="especieLinea" type="text" class="form-control"></td>
									<td><input name="bolAcumLinea" type="text" class="form-control"></td>
									<td><input name="montoAcumLinea" type="text" class="form-control"></td>
									<td><input name="especieAcumLinea" type="text" class="form-control"></td>
								</tr>
								<tr class="active">
									<td>BINGO: </td>
									<td><input name="montoBingo" type="text" class="form-control" required autofocus></td>
									<td><input name="especieBingo" type="text" class="form-control"></td>
									<td><input name="bolAcumBingo" type="text" class="form-control"></td>
									<td><input name="montoAcumBingo" type="text" class="form-control"></td>
									<td><input name="especieAcumBingo" type="text" class="form-control"></td>
								</tr>
							</tbody>
						</table>

						<button id="btn-crear-ronda" name="boton" value="crear" class="btn btn-primary pull-right" type="submit">Crear</button>
						</form>
					</div>
			</section>


			<section id="fondos">
				<h2 class="sub-header">Fondos | <small><a id="l_nuevo_fondo" href="#nuevo_fondo"><span class="glyphicon glyphicon-plus-sign"></span></a></small></h2>

				<div class="row placeholders">
				{% for fondo in fondos %}
				<div class="col-xs-6 col-sm-3">
					<div class="borrar-fondo"><a href="/admin/fondo/{{ fondo.id }}"><span class="glyphicon glyphicon-remove"></span></a></div>
					<img src="{{ fondo.path }}" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>{{ fondo.descripcion }}</h4>
					<!-- <span class="text-muted">Something else</span> -->
				</div>
				{% endfor %}
			</section>



			
			<a name="nuevo_fondo"></a>
			<section id="nuevo-fondo">
			<h2 class="sub-header">Nuevo fondo</h2>
				<form method='post' action='/admin/upload/fondo' enctype='multipart/form-data'>
					<div class="col-md-8">
						<label for="nro_sorteo">Descripcion:</label>
						<input name="descripcion" type="text" class="form-control" placeholder="Descripcion" required autofocus>
						<label>Imagen:</label>
						<input type="file" name="image">
						<button class="btn btn-primary btn-block" type="submit" style="margin-top:20px">Aceptar</button>
					</div>
				</form>
			</section>



			<section id="nueva-autoridad">
			<h2 class="sub-header">Nueva autoridad</h2>
				<form method='post' action='/admin/autoridad/nuevo'>
					<div class="col-md-8">
						<label for="nombre">Nombre:</label>
						<input name="nombre" type="text" class="form-control" placeholder="Nombre..." required autofocus autocomplete="off">
						<label for="nombre">Apellido:</label>
						<input name="apellido" type="text" class="form-control" placeholder="Apellido..." required autocomplete="off">
						<label for="dni">DNI:</label>
						<input name="dni" type="text" class="form-control" placeholder="Numero..." autocomplete="off">
						<label>Tipo:</label>
						<select name="tipoAutoridad" class="form-control" required>
							<option value="fiscalizador">Fiscalizador</option>
							<option value="escribano">Escribano</option>
						</select>
						<button class="btn btn-primary btn-block" type="submit" style="margin-top:20px">Aceptar</button>
					</div>
				</form>
			</section>



			<a name="ganadores"></a>
			<section id="ganadores">
			<h2 class="sub-header">Subir archivo de ganadores</h2>
				<form method='post' action='/admin/upload/ganadores' enctype='multipart/form-data'>
					<div class="col-md-8">
						<input type="file" name="ganadores">
						<input type="hidden" name="sorteo" value="{{ sorteo }}">
						<button class="btn btn-primary btn-block" type="submit" style="margin-top:20px">Aceptar</button>
					</div>
				</form>
			</section>

				
		</div>
	</div>
</div>

<!-- //////////////////// -->
<!--    SECCION MODAL     -->
<!-- ///////////////////  -->

<!-- Cambio estado a sorteando -->
<div class="modal" id="cambio-estado-sorteando">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cambio de estado a &#8608;SORTEANDO&#8606;</h4>
			</div>
			<div class="modal-body">
				<p>Este cambio permitir&aacute; a los usuarios ingresar a la p&aacute;gina del sorteo en curso.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="cambioEstado" data-dismiss="modal">Aceptar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock %}
	
	{% block extra_script %}
		<script src="../../javascripts/lib/docs.min.js"></script>
		<script type="text/javascript">
			setInterval(function(){
				if ($("#sorteoCurso").css('display') == 'none')
					$("#sorteoCurso").css('display', 'inline');
				else
					$("#sorteoCurso").css('display', 'none');
			},1000);

			// Mostrar pagina con errores
			switch ({% if error %}{{ error }}{% else %}0 {% endif %}){
				case 100:
					$("#alertAdmin").slideDown( "slow" );
					$('#alertAdmin').attr('class', 'alert alert-danger');
					$('#alertEncabezado').html("Error!");
					$('#alertMsg').html("No puede haber mas de un sorteo en estado sorteando al mismo tiempo.");
					setTimeout(function(){
						$('#alertAdmin').slideUp( "slow" );
					}, 6000);
					break;
				case 101:
					$("#alertAdmin").slideDown( "slow" );
					$('#alertAdmin').attr('class', 'alert alert-danger');
					$('#alertEncabezado').html("Error!");
					$('#alertMsg').html("El archivo parece ser de otro sorteo.");
					setTimeout(function(){
						$('#alertAdmin').slideUp( "slow" );
					}, 6000);
					break;
				default: 
        			break;

			}
			// if ("{{ error }}" == "100"){
			// 	$("#alertAdmin").show();
			// 	$('#alertAdmin').attr('class', 'alert alert-danger');
			// 	$('#alertEncabezado').html("Error!");
			// 	$('#alertMsg').html("No puede haber mas de un sorteo en estado sorteando al mismo tiempo.");
			// 	setTimeout(function(){
			// 					$('#alertAdmin').hide();
			// 				}, 3000);
			// }

			// Se ejecuta al tratar de entrar en la carga de datos
			function cambioEstadoSorteando(estado, id){
				if(estado != 'sorteando'){
				var $form=$('input[value='+id+']').closest('form');
				$('#cambio-estado-sorteando').modal({ backdrop: 'static', keyboard: false })
				.one('click', '#cambioEstado', function (e) {
					$form.trigger('submit');
				});	
				}
				else
					window.location.href = '/carga/'+id;
			}

			// Customizamos la pantalla segun funcion...
			// "var funcion" is a array, bitch! 
			var func = '{{ funcion }}';
			var funcion = func.split(',');
			console.log(funcion);
			for (f in funcion){
				$('#li-'+funcion[f]).attr('class', 'active');
				$('#'+funcion[f]).show();

			}

			
			
			{% if premio %}
			{% autoescape false %}
			var premios = {{premio}};
			{% endautoescape %}
			{% endif %}
			function onSelectRonda(){
				var ronda = $( "#select-premios option:selected" ).val();
				$('#tabla-premios').show();
				$('#btn-crear-ronda').text('Crear');
				$('#tabla-premios').find("input[type='text']").val("");
				for (i = 0; i < premios.length; i++){
					if(premios[i].nroRonda == ronda){
						$('#btn-crear-ronda').text('Modificar');
						$("input[name='montoLinea']").val(premios[i].premioLinea.monto);
						$("input[name='especieLinea']").val(premios[i].premioLinea.especie);
						$("input[name='bolAcumLinea']").val(premios[i].premioLinea.bolillaAcumulado);
						$("input[name='montoAcumLinea']").val(premios[i].premioLinea.montoAcumulado);
						$("input[name='especieAcumLinea']").val(premios[i].premioLinea.especieAcumulado);
						$("input[name='montoBingo']").val(premios[i].premioBingo.monto);
						$("input[name='especieBingo']").val(premios[i].premioBingo.especie);
						$("input[name='bolAcumBingo']").val(premios[i].premioBingo.bolillaAcumulado);
						$("input[name='montoAcumBingo']").val(premios[i].premioBingo.montoAcumulado);
						$("input[name='especieAcumBingo']").val(premios[i].premioBingo.especieAcumulado);
					}
					
				}
				$("input[name='montoLinea']").focus();
				$("input[name='ronda']").val(ronda);
				// $("input[name='montoLinea']").val("{{ premios.premioLinea.monto }}");
				// $("input[name='montoBingo']").val("{{ premios.premioBingo.monto }}");

			}

			// On submit form premio - alta premio
			$( "#post-premio" ).submit(function( event ) {

			  event.preventDefault();

			  // Get some values from elements on the page:
			  var $form = $( this ),
			  term = $form.find( "input[name='s']" ).val(),
			  url = $form.attr( "action" );
			  var premios = {
			  	nroRonda: $form.find( "input[name='ronda']" ).val(),
			  	premioLinea: {
			  		monto: $form.find( "input[name='montoLinea']" ).val(),
                    especie: $form.find( "input[name='especieLinea']" ).val(),
                    bolillaAcumulado: $form.find( "input[name='bolAcumLinea']" ).val(),
                    montoAcumulado: $form.find( "input[name='montoAcumLinea']" ).val(),
                    especieAcumulado: $form.find( "input[name='especieAcumLinea']" ).val()
			  	},
			  	premioBingo: {
			  		monto: $form.find( "input[name='montoBingo']" ).val(),
                    especie: $form.find( "input[name='especieBingo']" ).val(),
                    bolillaAcumulado: $form.find( "input[name='bolAcumBingo']" ).val(),
                    montoAcumulado: $form.find( "input[name='montoAcumBingo']" ).val(),
                    especieAcumulado: $form.find( "input[name='especieAcumBingo']" ).val()
			  	}
			  };
			  console.log(premios.premioBingo.monto);
			  console.log(premios.premioBingo.especieAcumulado);
			  var data = {
			  	sorteo : $form.find( "input[name='sorteo']" ).val(),
			  	premios: premios
			  }

			  $.ajax({
			  	url:url,
			  	type:"POST",
			  	data:data,
			  	dataType:"json"
			  })
			    .done(function( data ) {
			    	console.log(data.prem);
			    	if (data.refresh == true)
			    		location.reload();
			    	else{
				  	$('#tabla-premios').find("input[type='text']").val("");
				  	$('#tabla-premios').hide();
				  	$("#alertAdmin").show();
					$('#alertAdmin').attr('class', 'alert '+data.clase);
					$('#alertEncabezado').html(data.encabezado);
					$('#alertMsg').html(data.msg);
					setTimeout(function(){
									$('#alertAdmin').hide();
								}, 3000);
			    	}
			  	});
			
			});
			// Mostrar form creacion nuevo al hacer click en el link
			$("#l_nuevo_sorteo").click(function (e) 
			{
				e.preventDefault();
				$("#sorteos").hide();
				$("#nuevo-sorteo").show();
			});
			$("#l_nuevo_fondo").click(function (e) 
			{
				e.preventDefault();
				$("#fondos").hide();
				$("#nuevo-fondo").show();
			});
			


		</script>
{% endblock %}