{% extends 'layout.html' %}

{% block title %} {{ title|capitalize }} {% endblock %}

{% block extra_head%}
	<!--<script type="text/javascript" src="javascripts/realtimeCarga.js"></script>-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/carga.css">
	<style id="holderjs-style" type="text/css"></style>

{% endblock %}

{% block content %}
	
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="#">Telebingo RT</a> -->
			<a class="navbar-brand" href="#"><img src="../../images/telebingo.png" alt="logo telebingo" width="100" height="40" />Telebingo app</a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{ operador }}</a></li>
				<li><a href="/admin">Sorteo</a></li>
			</ul>
			<!-- <form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form> -->
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li id="li-sorteo"><a href="/admin">Sorteos</a></li>
				<li id="li-carga"><a href="/" target="_blank">Test Sorteo <span class="glyphicon glyphicon-new-window"></span></a></li>
				<!-- <li><a href="#">Export</a></li> -->
			</ul>
			<!-- <ul class="nav nav-sidebar">
				<li><a href="">Nav item</a></li>
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
				<li><a href="">More navigation</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
			</ul> -->
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<div id="alertCarga" style="display:none" class="alert" role="alert">
				<!-- <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
				<strong id="alertEncabezado">Error!</strong> <span id="alertMsg">No se puede cargar el numero.
			</div>

			<h1 class="page-header">Carga sorteo {{ s.nro_sorteo }}</h1>

			<section id="sorteos">
				<h3>Ronda {{ ronda_sorteando }}:</h3>
				<div class="col-md-6">
					<form method="POST" action="/carga/numero">
						<div class="input-group input-group-lg">
							<input id="inputCarga" type="number" name="content" autocomplete="off" autofocus="autofocus" maxlength="2" class="form-control" min="1" max="90"></textarea>
							<span class="input-group-btn">
								<button id="btnCarga" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span></button>
							</span>
						</div><!-- /input-group -->
					</form>
					<form>
						<div class="col-md-5">
							<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#confirmar-linea">LINEA</button>
						</div>
						<div class="col-md-5">
							<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmar-bingo" style="margin-bottom:40px">BINGO</button>
						</div>
						<div class="col-md-5">
							<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#confirmar-cierre">Cerrar ronda</button>
						</div>
					</form>


					<!-- //////////////////// -->
					<!--    SECCION MODAL     -->
					<!-- ///////////////////  -->

					<!-- Confirmacion linea -->
					<div class="modal" id="confirmar-linea">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title">LINEA!</h4>
								</div>
								<div class="modal-body">
									<p>Confirmar linea...</p>
									<p>Seleccione cantidad de ganadores:</p>
										<input type="number" id="lineaCantidad" min="1" required value="1">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
									<button type="button" class="btn btn-primary" onclick="salio('linea');" data-dismiss="modal">Aceptar</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<!-- Confirmacion bingo -->
					<div class="modal" id="confirmar-bingo">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title">BINGO!</h4>
								</div>
								<div class="modal-body">
									<p>Confirmar bingo...</p>
									<p>Seleccione cantidad de ganadores:</p>
										<input type="number" id="bingoCantidad" min="1" required value="1">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
									<button type="button" class="btn btn-primary" onclick="salio('bingo');" data-dismiss="modal">Aceptar</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<!-- Confirmacion cierre de ronda -->
					<div class="modal" id="confirmar-cierre">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title">Cerrar ronda {{ ronda_sorteando }}</h4>
								</div>
								<div class="modal-body">
									<p>Los datos se guardar&aacute;n en base de datos y no se podr&aacute; volver a sortear esta ronda</p>
									
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
									<button type="button" class="btn btn-warning" onclick="cierreRonda();" data-dismiss="modal">Aceptar</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

				</div>
			</section>
				
		</div>
	</div>
</div>


{% endblock %}
	
	{% block extra_script %}
		<script src="../../javascripts/lib/docs.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//nos conectamos al server
				window.io = io.connect();
				io.on('connect', function(socket){
					console.log('conectado mediante socket');
				});

				io.on('msg-carga', function (mensaje){
					$('#alertCarga').show();
					$('#alertCarga').addClass(mensaje.clase);
					$('#alertEncabezado').html(mensaje.encabezado);
					$('#alertMsg').html(mensaje.msg);
					setTimeout(function(){
								$('#alertCarga').hide();
							}, 6000);
				});
				
				// io.on('log-in', function(data){
				// 	$('#usuarios').append('<article>'+data.username+'</article>');
				// });
				// io.on('log-out', function(data){
				// 	$('#usuarios article').each(function(i, item) {
				// 		if(item.innerText === data.username){
				// 			$(item).remove();
				// 		}
				// 	});
				// });
				// io.on('post', function (data){
				// 	debugger;
				// });
			});

			function salio(queSalio){
				var cantidad=$('#'+queSalio+'Cantidad').val();
				var data = {
					cantidad: cantidad,
					queSalio: queSalio
				}
				$.ajax({
					type: "POST",
					url: '/carga',
					data: data,
					success: function(mensaje){
						if(mensaje){
							$('#alertCarga').show();
							$('#alertCarga').attr('class', 'alert '+mensaje.clase);
							$('#alertEncabezado').html(mensaje.encabezado);
							$('#alertMsg').html(mensaje.msg);
							setTimeout(function(){
								$('#alertCarga').hide();
							}, 3000);
						};
					},
					dataType: "json"
				});
				focoInput();
			};
			
			function focoInput(){
				$('#inputCarga').focus();
			};

			function cierreRonda(){
				window.location.href = '/carga/cierre-ronda';
				// $.post( "/carga/cierre-ronda", function() {
				// 	console.log( "ererererer" );
				// });
			};

			$('#btnCarga').click(function(e) {
				e.preventDefault();
				var valor = $('#inputCarga').val();
				io.emit('carga', {
					nro_ronda: {{ ronda_sorteando }},
					content: valor
				});
				$('#inputCarga').val('');
				focoInput();
			});

			setInterval(function(){
				if ($("#sorteoCurso").css('display') == 'none')
					$("#sorteoCurso").css('display', 'inline');
				else
					$("#sorteoCurso").css('display', 'none');
			},1000);

			// Customizamos la pantalla segun funcion...
			var funcion = '{{ funcion }}';
			$('#li-'+funcion).attr('class', 'active');
			$('#'+funcion).show();

			// Mostrar form creacion nuevo al hacer click en el link
			$("#l_nuevo_sorteo").click(function (e) 
			{
				// e.preventDefault();
				$("#nuevo-sorteo").show();
			});
			$("#l_nuevo_fondo").click(function (e) 
			{
				// e.preventDefault();
				$("#nuevo-fondo").show();
			});


		</script>
{% endblock %}