<!doctype html>
<html lang="es"> 
<head>
	<meta charset="utf-8">
	<title>{% block title %}Telebingo Sorteo{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.min.css">
	<!-- <link rel="shortcut icon" type='image/x-icon' href="../../images/logo.ico" /> -->
	<script type="text/javascript" src="../../javascripts/lib/jquery.min.js"></script>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	{% block extra_head %}{% endblock %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	{% block content %}{% endblock %}
	<script type="text/javascript" src="../../javascripts/lib/bootstrap.min.js"></script>

	{% block extra_script %}{% endblock %}
</body>
</html>
