{% extends 'layout.html' %}

{% block title %} {{ title|capitalize }} {% endblock %}

{% block content %}
<div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Iniciar sesion</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Recordar
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
