{% extends 'layout.html' %}

{% block title %} {{ title|capitalize }} {% endblock %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<style>
	.div-sorteando{
  		background: url('..{{ fondo }}') no-repeat center;
	}
  	</style>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style id="holderjs-style" type="text/css"></style>
{% endblock %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> -->
			<!-- <a class="navbar-brand" href="#">Telebingo RT</a> -->
			<a class="navbar-brand" href="#"><img src="../../images/telebingo.png" alt="logo telebingo" width="100" height="40" />{{ title|capitalize }}</a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- <li><a href="#">{{ operador }}</a></li>
				<li><a href="/admin">Sorteo</a></li> -->
			</ul>
			<!-- <form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form> -->
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<!--<div class="col-sm-3 col-md-2 sidebar">
			 <ul class="nav nav-sidebar">
				<li id="li-sorteo"><a href="/admin">Sorteos</a></li>
				<li id="li-carga"><a href="/" target="_blank">Test Sorteo <span class="glyphicon glyphicon-new-window"></span></a></li>
				<!-- <li><a href="#">Export</a></li> 
			</ul> -->
			<!-- <ul class="nav nav-sidebar">
				<li><a href="">Nav item</a></li>
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
				<li><a href="">More navigation</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
			</ul> 
		</div> -->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-left:0; padding-right:0;">
	
			<h2>Sorteo en directo<span id="sorteoCurso">...</span></h2>
			<ul class="list">
			</ul>
			<section id="rondas">
				<div class="col-md-7 div-sorteando table-responsive">
					<img src="images/telebingo.png" style="display:block; margin: 10px auto;" />
				<div class="col-xs-4 col-md-4 enc-sort">SORTEO</div>
				<div class="col-xs-4 col-md-4 enc-sort">FECHA</div>
				<div class="col-xs-4 col-md-4 enc-sort">TIPO</div>
				<div id="enc-sort"></div>
				</div>
				<div  class="col-md-7 div-sorteando table-responsive">
				<h3>Ronda {{ ronda_sorteando }}</h3>
				<table class="table table-bordered" id="currentGrill">
					<tr>
						<td id="b1">&nbsp;&nbsp;</td>
						<td id="b11">&nbsp;&nbsp;</td>		
						<td id="b21">&nbsp;&nbsp;</td>
						<td id="b31">&nbsp;&nbsp;</td>
						<td id="b41">&nbsp;&nbsp;</td>		
						<td id="b51">&nbsp;&nbsp;</td>
						<td id="b61">&nbsp;&nbsp;</td>
						<td id="b71">&nbsp;&nbsp;</td>		
						<td id="b81">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b2">&nbsp;&nbsp;</td>		
						<td id="b12">&nbsp;&nbsp;</td>
						<td id="b22">&nbsp;&nbsp;</td>
						<td id="b32">&nbsp;&nbsp;</td>
						<td id="b42">&nbsp;&nbsp;</td>		
						<td id="b52">&nbsp;&nbsp;</td>
						<td id="b62">&nbsp;&nbsp;</td>
						<td id="b72">&nbsp;&nbsp;</td>		
						<td id="b82">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b3">&nbsp;&nbsp;</td>
						<td id="b13">&nbsp;&nbsp;</td>
						<td id="b23">&nbsp;&nbsp;</td>		
						<td id="b33">&nbsp;&nbsp;</td>
						<td id="b43">&nbsp;&nbsp;</td>		
						<td id="b53">&nbsp;&nbsp;</td>
						<td id="b63">&nbsp;&nbsp;</td>
						<td id="b73">&nbsp;&nbsp;</td>		
						<td id="b83">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b4">&nbsp;&nbsp;</td>
						<td id="b14">&nbsp;&nbsp;</td>
						<td id="b24">&nbsp;&nbsp;</td>		
						<td id="b34">&nbsp;&nbsp;</td>
						<td id="b44">&nbsp;&nbsp;</td>		
						<td id="b54">&nbsp;&nbsp;</td>
						<td id="b64">&nbsp;&nbsp;</td>
						<td id="b74">&nbsp;&nbsp;</td>		
						<td id="b84">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b5">&nbsp;&nbsp;</td>		
						<td id="b15">&nbsp;&nbsp;</td>
						<td id="b25">&nbsp;&nbsp;</td>		
						<td id="b35">&nbsp;&nbsp;</td>
						<td id="b45">&nbsp;&nbsp;</td>
						<td id="b55">&nbsp;&nbsp;</td>
						<td id="b65">&nbsp;&nbsp;</td>
						<td id="b75">&nbsp;&nbsp;</td>		
						<td id="b85">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b6">&nbsp;&nbsp;</td>
						<td id="b16">&nbsp;&nbsp;</td>
						<td id="b26">&nbsp;&nbsp;</td>		
						<td id="b36">&nbsp;&nbsp;</td>
						<td id="b46">&nbsp;&nbsp;</td>
						<td id="b56">&nbsp;&nbsp;</td>		
						<td id="b66">&nbsp;&nbsp;</td>
						<td id="b76">&nbsp;&nbsp;</td>		
						<td id="b86">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b7">&nbsp;&nbsp;</td>
						<td id="b17">&nbsp;&nbsp;</td>
						<td id="b27">&nbsp;&nbsp;</td>		
						<td id="b37">&nbsp;&nbsp;</td>
						<td id="b47">&nbsp;&nbsp;</td>
						<td id="b57">&nbsp;&nbsp;</td>		
						<td id="b67">&nbsp;&nbsp;</td>
						<td id="b77">&nbsp;&nbsp;</td>		
						<td id="b87">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b8">&nbsp;&nbsp;</td>		
						<td id="b18">&nbsp;&nbsp;</td>
						<td id="b28">&nbsp;&nbsp;</td>		
						<td id="b38">&nbsp;&nbsp;</td>
						<td id="b48">&nbsp;&nbsp;</td>
						<td id="b58">&nbsp;&nbsp;</td>		
						<td id="b68">&nbsp;&nbsp;</td>
						<td id="b78">&nbsp;&nbsp;</td>
						<td id="b88">&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td id="b9">&nbsp;&nbsp;</td>
						<td id="b19">&nbsp;&nbsp;</td>
						<td id="b29">&nbsp;&nbsp;</td>		
						<td id="b39">&nbsp;&nbsp;</td>
						<td id="b49">&nbsp;&nbsp;</td>
						<td id="b59">&nbsp;&nbsp;</td>		
						<td id="b69">&nbsp;&nbsp;</td>
						<td id="b79">&nbsp;&nbsp;</td>
						<td id="b89">&nbsp;&nbsp;</td>		
					</tr>
					<tr>
						<td id="b10">&nbsp;&nbsp;</td>
						<td id="b20">&nbsp;&nbsp;</td>
						<td id="b30">&nbsp;&nbsp;</td>		
						<td id="b40">&nbsp;&nbsp;</td>
						<td id="b50">&nbsp;&nbsp;</td>
						<td id="b60">&nbsp;&nbsp;</td>		
						<td id="b70">&nbsp;&nbsp;</td>
						<td id="b80">&nbsp;&nbsp;</td>
						<td id="b90">&nbsp;&nbsp;</td>		
					</tr>
				</table>
				<div class="col-md-6" id="premios"></div>
				<div class="col-md-6 pull-right espacio-tabla-sorteando" id="linea-bingo"></div>
				<div class="col-md-6" id="acumulados"></div>
				</div>
			</section>

			<section class="sorteadas">
				<!-- <div class="col-md-7 table-responsive">
					<h3 class="h_sorteadas">Ronda 1</h3>
					<h4 class="sh_sorteadas">Linea</h4>
					<div class="bolillas">
						<div class="bolillaSmall">61</div><div class="bolillaSmall">69</div>
						<div class="bolillaSmall">04</div><div class="bolillaSmall">21</div>
						<div class="bolillaSmall">33</div><div class="bolillaSmall">67</div>
						<div class="bolillaSmall">77</div><div class="bolillaSmall">12</div> 
					</div>
					<h4 class="sh_sorteadas">Bingo</h4>
					<div class="bolillas">
						<div class="bolillaSmall">61</div><div class="bolillaSmall">69</div>
						<div class="bolillaSmall">04</div><div class="bolillaSmall">21</div>
						<div class="bolillaSmall">33</div><div class="bolillaSmall">67</div>
						<div class="bolillaSmall">77</div><div class="bolillaSmall">12</div>
						<div class="bolillaSmall">29</div><div class="bolillaSmall">70</div>
						<div class="bolillaSmall">79</div><div class="bolillaSmall">76</div>
						<div class="bolillaSmall">16</div><div class="bolillaSmall">18</div>
						<div class="bolillaSmall">75</div><div class="bolillaSmall">08</div>
						<div class="bolillaSmall">06</div><div class="bolillaSmall">14</div>
						<div class="bolillaSmall">86</div><div class="bolillaSmall">81</div>
						<div class="bolillaSmall">55</div><div class="bolillaSmall">38</div>
						<div class="bolillaSmall">47</div><div class="bolillaSmall">50</div>
						<div class="bolillaSmall">82</div><div class="bolillaSmall">37</div>
						<div class="bolillaSmall">07</div><div class="bolillaSmall">31</div>
						<div class="bolillaSmall">65</div><div class="bolillaSmall">19</div>
						<div class="bolillaSmall">15</div><div class="bolillaSmall">83</div>
						<div class="bolillaSmall">30</div><div class="bolillaSmall">11</div>
						<div class="bolillaSmall">28</div><div class="bolillaSmall">89</div>
						<div class="bolillaSmall">09</div><div class="bolillaSmall">48</div>
						<div class="bolillaSmall">78</div><div class="bolillaSmall">10</div>
						<div class="bolillaSmall">22</div><div class="bolillaSmall">20</div>
						<div class="bolillaSmall">59</div><div class="bolillaSmall">87</div>
						<div class="bolillaSmall">85</div><div class="bolillaSmall">90</div>
						<div class="bolillaSmall">32</div><div class="bolillaSmall">58</div>
						<div class="bolillaSmall">44</div>    
					</div>
				</div>
			-->
			</section>

		</div>
	</div>
</div>
	{% block extra_script %}
		<script>
			
			setInterval(function(){
				if ($("#sorteoCurso").css('display') == 'none')
					$("#sorteoCurso").css('display', 'inline');
				else
					$("#sorteoCurso").css('display', 'none');
			},1000);

			
			{% autoescape false %}
			var premios = {{ premios }};

			{% if sorteo.rondas.length > 0 %}
			var rondas = {{ rondas }};
			{% endif %}

			{% endautoescape %}
			var ronda = {{ ronda_sorteando }};
			// function recargaPremio(){
			// 	$.ajax({
			// 			url: '/carga/queJugamos',
			// 			success: function(data){
			// 				var lineaBingo = data.juego;
			// 				for (i = 0; i < premios.length; i++){
			// 					if (premios[i].nroRonda == ronda){
			// 						$('#premios').fadeIn();
			// 						if (lineaBingo == 'linea' || lineaBingo == '-')
			// 							$('#premios').text("Estamos jugando a LINEA por $" + premios[i].premioLinea.monto);
			// 						else
			// 							$('#premios').text("Estamos jugando a BINGO por $" + premios[i].premioBingo.monto);
			// 					}
			// 				}
								
			// 			},
			// 			dataType: "json"
			// 		});	
			// };

			// function mostrarRondasAnteriores(){
			// 	var sr = $('#rondas'); // Seccion Rondas
			// 	var $nuevaRonda = $( "<div  class='col-md-7 div-sorteando table-responsive' style='margin-top:50px' />" );
			// 	var $nuevaTabla = $("<table class='table table-bordered' />");
			// 	var trl = '<tr>';
			// 	var trb = '<tr>'
			// 	$.each(rondas, function(i, item) {
			// 		$.each(item.contenido.linea, function(j, lin) { 
			// 			if (j == 0)
			// 				var tr = $("<tr />")
			// 			trl += '<td>'+lin+'</td>'+j;
			// 		});
			// 	});

			// 	console.log(trl);

			// 	$nuevaRonda.append("<h3>Ronda: "+ eval(ronda+1) +"</h3>");
			// 	$nuevaRonda.append($nuevaTabla);
			// 	sr.append($nuevaRonda);
			// };

			
		
		</script>
		<script type="text/javascript">
			//recargaPremio()
			// mostrarRondasAnteriores();
		</script>



		<!-- // Templates de para obtener variables de swig enviadas desde el servidor // -->
		<script id="_sorteo" type="text/var">
			{% autoescape false %}
			{{ sorteo }}
			{% endautoescape %}
		</script>
		<script id="_premios" type="text/var">
			{% autoescape false %}
			{{ premios }}
			{% endautoescape %}
		</script>

		<script id="_ronda" type="text/var">
			{{ ronda_sorteando }}
		</script>
		<script id="_rondas" type="text/var">
			{% if rondas.length > 0 %}
			{% autoescape false %}
			{{ rondas }}
			{% endautoescape %}
			{% else %}
			[]
			{% endif %}
		</script>
		
		<!-- Estos templates los usamos en las vistas backbone -->
		<!--<script id="sorteo-template" type="x-handlebars-template">
			<span>Sorteo: "{{ sorteo.nro_sorteo }}"</span> - <span>Fecha: "{{ sorteo.fecha }}"</span>
		</script>-->



		<script type="text/javascript" src="javascripts/lib/underscore.js"></script>
		<script type="text/javascript" src="javascripts/lib/handlebars.js"></script>
		<script type="text/javascript" src="javascripts/lib/backbone.js"></script>

		<script type="text/javascript" src="javascripts/app.js"></script>

		<script type="text/javascript" src="javascripts/models/sorteo.js"></script>
		<script type="text/javascript" src="javascripts/models/ronda.js"></script>
		<script type="text/javascript" src="javascripts/models/premio.js"></script>
		<script type="text/javascript" src="javascripts/models/numeroSorteado.js"></script>
		<script type="text/javascript" src="javascripts/models/lineaBingo.js"></script>

		<script type="text/javascript" src="javascripts/collections/rondas.js"></script>
		<script type="text/javascript" src="javascripts/collections/premios.js"></script>
		<script type="text/javascript" src="javascripts/collections/numerosSorteados.js"></script>

		<script type="text/javascript" src="javascripts/views/sorteo.js"></script>
		<script type="text/javascript" src="javascripts/views/premio.js"></script>
		<script type="text/javascript" src="javascripts/views/premios.js"></script>
		<script type="text/javascript" src="javascripts/views/premioABolilla.js"></script>
		<script type="text/javascript" src="javascripts/views/grillaNumero.js"></script>
		<script type="text/javascript" src="javascripts/views/grillaNumeros.js"></script>
		<script type="text/javascript" src="javascripts/views/salioLineaBingo.js"></script>
		<script type="text/javascript" src="javascripts/views/ronda.js"></script>
		<script type="text/javascript" src="javascripts/views/rondas.js"></script>

		<script type="text/javascript" src="javascripts/router/router.js"></script>
  		<script type="text/javascript" src="javascripts/main.js"></script>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/realtime.js"></script>





	{% endblock %}
{% endblock %}