body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h3 {
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  font-weight: bold;
  height: 42px;
  padding: 7px;
  text-align: center;
}
table tr td {
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  color: #f00;
  font-weight: bold;
  padding: 3px;
  font-family: 'Ubuntu', sans-serif !important;
}
.hide {
  display: none;
}
.espacio-tabla-sorteando {
  opacity: 0;
  margin: 20px 0;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 20px 10px;
  background: rgba(255,255,255,0.3);
}
#premios {
  display: none;
  margin: 20px 0;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif !important;
  padding: 20px 10px;
  background: rgba(255,255,255,0.3);
}
#acumulados {
  display: none;
  margin-left: 1px;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif !important;
  float: left;
  padding: 20px 10px;
  background: rgba(255,255,255,0.3);
}
.col-md-5 {
  margin: 10px 0;
}
.enc-sort {
  background-color: #ffd51e;
  color: #887010;
}
.dat-sort {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
.sorteadas,
.rondas {
  font-family: 'Ubuntu', sans-serif !important;
}
.h_sorteadas {
  background-color: #345b79 !important;
  font-weight: bold;
  height: 42px;
  padding: 7px;
}
.sh_sorteadas {
  background-color: #ededed;
  height: 20px;
  text-align: center;
  display: block;
}
.bolillas {
  display: block;
}
.bolillaSmall {
  border: 1px solid #d6d6d6;
  color: #333;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 2px 2px 10px;
  padding: 4px;
  text-align: center;
  width: 32px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
  min-height: 60px;
}
.navbar-brand {
  padding: 10px 10px;
}
.navbar-inverse {
  background-color: #2f3439;
}
.navbar-inverse .navbar-brand {
  color: #d0d3d2;
}
.glyphicon-new-window {
  color: #428bca;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
/* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
/* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
/*
.main 
  padding: 20px
  */
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.col-md-5 {
  margin: 10px 0;
}
