<div class="content-countdown">	
	<noscript>	&lt;h3 class="countdown-title"&gt;El tiempo corre&amp;hellip; &amp;iexcl;Ap&amp;uacute;rate a comprar!&lt;/h3&gt;	
	</noscript> 
	<div class="content-countdown-extra"> ¡Apurate solo quedan </div>	
	<div class="countdown">	
		<a class="dealEndTime" deal="2014-11-14T02:59:59.000Z"></a>	
		<span id="countdown-days">2 dias</span>	
		<a class="singular" deal="dia"></a>	
		<a class="plural" deal="dias"></a>	
		<span id="days-description"> </span>	
		<span id="countdown-hours">16</span>
		:	
		<span id="countdown-minutes">47</span>
		:	
		<span id="countdown-seconds">10</span>	
	</div> 
	<div class="content-countdown-extra"> aprovechá estas ofertas! 
	</div>	
</div>